.section--footer {
  background-color: palette(grey, light);
  padding: 65px 0;

  .link {
    position: relative;
    top: 30px;
    @include breakpoint(sm) {
      top: 130px;
      margin-top: 0;
    }
  }
  .link--impressum {
    text-transform: uppercase;
    font-size: em(14px);
  }

  .logo__wrapper {
    width: 160px;
    margin-bottom: 25px;

    @include breakpoint(sm) {
      width: 220px;
    }
  }
}