@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open-Sans', sans-serif;

%font-primary {
  font-family: $font-primary;
}

%font-secondary {
  font-family: $font-secondary;
}
